@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
            <Authorizing>Molimo sačekajte...</Authorizing>
            </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Nije pronadjeno</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Izvinjavamo se, ova adresa je prazna.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>